div {
  display: grid;
  /* border: 1px solid black; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 25px;
  margin-left: auto;
}
img {
  margin: auto;
  border: 3px solid black;
}
